/* Reset some default styles for cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: fit-content;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.editable-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.editable-table th,
.editable-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.editable-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Buttons for actions */

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.project-delete-row-btn,
.user-delete-row-btn {
  color: #fff;
  background-color: red;
}

button:hover {
  background-color: #0056b3;
}

.project-delete-row-btn:hover,
.user-delete-row-btn:hover {
  background-color: #b30021;
}

/* Font Awesome icons */
.fa-plus,
.fa-edit,
.fa-trash-alt {
  font-size: 18px;
}

input[type="date"],
select,
input[type="number"],
textarea,
button {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
