/* Reset some default styles for cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.entriesContainer {
  max-width: fit-content;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  color: #555;
  font-weight: bold;
}

input[type="date"],
select,
input[type="number"],
textarea,
button {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
}

textarea {
  resize: vertical; /* Allows vertical resizing of the textarea */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.entry-delete-row-btn {
  color: #fff;
  background-color: red;
}

button:hover {
  background-color: #0056b3;
}

.entry-delete-row-btn:hover {
  background-color: #b30021;
}

.editable-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.editable-table th,
.editable-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.editable-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}
